:global(
    .vtex-flex-layout-0-x-flexRow--blocoClientes
)

.imageElement:hover {
        margin:auto;
        filter: opacity(0.3);
        transition: all .3s ease
}
.imageElement--parceirosfotos {
    width: 94px !important;
    margin: 35px;
    align-content: center;
}