.paragraph--onMediaTitle {
  width       : 100vw;
  font-weight : bolder;
  font-size   : 52px;
  color       : #fff;
  box-sizing  : border-box;
  display     : block;
  margin      : 0;
  padding-left: 20%;
}

.wrapper--onMediaText {
  color       : #fff;
  flex-wrap   : wrap;
  margin-left : auto;
  margin-right: auto;
}

.paragraph--onMediaText {
  font-size: 18px;
  box-sizing: border-box;
  max-width: 402px;
  text-align: left;
  margin: 0 0 50px 0;
}

.paragraph--tituloNoMundo {
  max-width: 390px;
  margin   : 0 auto;
  color    : #fff;
}

.paragraph--subTituloNoMundo {
  margin: 10px auto auto;
  font-size: 20px;
  max-width: 260px;
  color    : #fff;
}

.container--tituloDadosNoMundo {
  text-align     : center;
  justify-content: center;
  padding        : 0;
}

.paragraph--tituloDadosNoMundo {
  font-size  : 60px;
  font-weight: bolder;
  color      : #f1c233;
  text-align : center;
  padding    : 0;
  margin     : 0;
}

.paragraph--textoDadosNoMundo {
  font-size  : 28px;
  max-width  : 300px;
  font-weight: bold;
  color      : #fff;
  text-align : center;
}

.headingLevel1--listaValores {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #f1c233;
  position: initial;
}

.listItem--listaValores {
  list-style: none;
}

.list--listaValores {
  padding: 0;
}

.wrapper--listaValores {
  font-family: Circular Std Medium, sans-serif;
  font-size: 24px;
  font-weight: bolder;
}

/* Textos do Corebiz worldwide /about */
.heading--about-title {
  color: #000;
  padding-left: 100px;
  margin-top: 0;
}

.wrapper--about-offices .link--about-offices {
  color: #000;
  text-decoration: none;
}

.paragraph--about-offices {
  font-size: small;
}

/* Textos do bloco do footer */
.container--text-footer {
  color: #fff;
  font-size: x-small;
}

.container--text-social-media {
  color: #fff;
}

.container--text-rights-reserved {
  color: #fff;
  font-size: xx-small;
  margin-bottom: 0;
}

.heading--corebiz {
  color: #666;
}

.headingLevel2--corebiz {
  font-size    : 2.5rem;
  font-weight  : 500;
  margin-top   : 0;
  margin-bottom: 60px;
}

.heading--principaisClientes {
  font-size: 3.25rem;
}

@media screen and (max-width: 1360px) {
  .heading--principaisClientes {
    padding: 1.8rem;
  }

  .paragraph--onMediaTitle {
    padding-left: 0;
  }
}

.paragraph--slogan {
  font-size     : 8.3vw;
  max-width     : 50rem;
  color         : #fff;
  text-transform: lowercase;
  line-height: 0.8;
  margin-bottom: 4rem;
}

.paragraph--topicTitle {
  color      : #f1c233;
  font-size  : 22px;
  padding    : 0;
  margin     : 0;
  font-weight: 400;
}

.paragraph--topicText {
  margin-top : 0.5rem;
  color      : #ccc;
  font-size  : 14px;
  max-width  : 11.5rem;
  line-height: 18px;
}

.container--shopTitleText,
.wrapper--shopTitleText,
.container--aboutTitleText,
.wrapper--aboutTitleText {
  width: 100%;
}

.headingLevel1--shopTitleText,
.headingLevel1--aboutTitleText {
  font-size  : 5.5rem;
  font-weight: 500;
  margin     : 0 0 1rem;
}

.paragraph--shopTitleText,
.paragraph--aboutTitleText {
  max-width  : 15.4rem;
  margin-left: 8%;
  font-size  : 1.1rem;
  font-weight: 400;
}

.paragraph--blog {
  font-size    : 18px;
  margin-bottom: 0px;
  max-width    : 380px;
  font-weight  : 400;
  font-style   : normal;
}

.headingLevel2--somoscorebiz {
  font-size : 3.2rem;
  margin-top: 0;
}

.headingLevel2--blog {
  font-size  : 3.2rem;
  font-weight: 500;
}

.container--parceiroscorebiz {
  background: #f5f5f5;
  padding   : 0.5rem 3rem 0 2rem;
}

.headingLevel2--whoaretitle {
  font-size  : 3.2rem;
  font-weight: 500;
}

.headingLevel3--whoaretitle {
  font-size  : 2.5rem;
  font-weight: 500;
  max-width  : 23rem;
  color      : #666;
}