.productBrand {
  color    : #000;
  font-size: 1.3rem;
}

.currencyCode,
.currencyInteger,
.currencyDecimal,
.currencyFraction {
  color      : #000;
  font-weight: bold;
  font-size  : 1.4rem;
}

.element,
.buyButtonContainer {
  background-color: #fff;
  color           : #000;
  font-family     : "Circular", sans-serif;
  padding: 0;
}
:global(.vtex-add-to-cart-button-0-x-buttonText){
  line-height: 1.1rem;
}
.element {
  box-shadow     : rgba(0, 0, 0, 0.54) 0px 3px 8px;
  display        : flex;
  align-content  : center;
  justify-content: center;
}

.container {
  margin       : 30px;
  border       : 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0px;
  width        : 350px;
  height       : auto;
}