.socialNetworksContainer {
    color: #fff;
    margin-top: 65px;
    margin-left: 10px;
}
.socialNetworkImage {
    color: #fff;
    align-items: center;
    align-content: center;
    cursor: pointer;
}
.socialNetworkWrapper {
    color: #fff;
}
.socialNetworksTitle {
    text-align: left;
}