@import url("//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book");

.label {
  color          : white;
  text-decoration: none;
  font-weight    : 400;
  font-size      : 16px;
  font-family    : "Circular Std Book", sans-serif;
}

.link {
  text-decoration: none;
}