.infoCardHeadline--vision {
  font-family: Circular Std Medium, sans-serif;
  font-size: 2rem;
  color: #f1c233;
  margin-top: 45px;
}

.infoCardSubhead--vision {
  margin: 45px;
  font-family: Circular Std Medium, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
}
.infoCardContainer--vision {
  width: 120%;
}

.infoCardCallActionContainer {
  display: none;
}

/* Logo Corebiz Footer */
.imageElement--logo-footer {
  width: 120px;
  height: 100px;
  margin-top: 75px;
}

/* Imagem footer do bloco da direita */
.imageElement--footer-image {
  max-width: 100%;
}
.logoImage {
  height: 50px;
}

:global(.vtex-flex-layout-0-x-flexRow--blocoClientes) .imageElement:hover {
  margin: auto;
  filter: opacity(0.3);
  transition: all 0.3s ease;
}

.imageElement--aboutMainImg {
  width: 55%;
  position: absolute;
  top: 0;
  right: 0;
}
