@media screen and (min-width: 1024px) {

    .link--blog,
    .link--blog:active,
    .link--blog:focus {
        width: auto;
    }

    :global(.vtex-flex-layout-0-x-flexRow--blog) :global(.vtex-flex-layout-0-x-flexRowContent--blog) :global(.vtex-flex-layout-0-x-flexColChild) {
        width: auto;
        margin-top: 0;
    }
}

:global(.vtex-flex-layout-0-x-flexRow--blog) :global(.vtex-flex-layout-0-x-flexColChild) {
    width: 100%;
    margin-top: 10px;
}

.link--blog,
.link--blog:active,
.link--blog:focus {
    text-align      : center;
    text-decoration : none;
    color           : #fff;
    background-color: #2680eb;
    border          : none;
    border-radius   : 0px;
    padding         : .7rem 1rem .5rem;
    font-family     : Circular Std Book, sans-serif;
    font-size       : 15px;
    display         : inline-block;
    text-transform  : none;
    outline         : none;
    width           : 100%;
}

.link--blog:hover {
    transition      : all .3s ease;
    opacity         : .8;
    background-color: #2680eb;
}