.heading--corebiz {
  color: #666;
}
@media screen and (max-width: 1360px) {
  .heading--principaisClientes {
    padding: 1.8rem;
  }
}

/* .wrapper {
  margin: 2px;
} */

.paragraph--slogan {
  font-size: 8.3vw;
  max-width: 50rem;
  color: #fff;
  font-family: Circular Std Book, sans-serif;
  text-transform: lowercase;
  line-height: 0.8;
  margin-bottom: 4rem;
}
.paragraph--topicTitle {
  color: #f1c233;
  font-size: 22px;
  padding: 0;
  margin: 0;
}

.paragraph--topicText {
  margin-top: 0.5rem;
  color: #ccc;
  font-size: 14px;
  max-width: 11.5rem;
  margin-bottom: 5rem;
}

.paragraph--mainTitleText {
  padding: 0;
  box-sizing: border-box;
  font-size: 6rem;
  max-width: 50rem;
  color: #fff;
  font-family: Circular Std Medium, sans-serif;
  font-weight: 300;
  text-transform: lowercase;
  line-height: 0.8;
  margin: 0 0 3rem;
}
.wrapper--aboutTitleTextDesc {
  max-width: 26.4rem;
  margin-left: 8%;
}
