.productBrand {
  color      : #fff;
  font-weight: bold;
}

.buyButtonText {
  color: #303030;
}

.currencyCode,
.currencyInteger,
.currencyDecimal,
.currencyFraction {
  color      : #fff;
  font-weight: bold;
}

.element,
.buyButtonContainer {
  background-color: #000000;
}

.element {
  box-shadow     : rgba(0, 0, 0, 0.54) 0px 3px 8px;
  display        : flex;
  align-content  : center;
  justify-content: center;
}

/* .aspectRatio {
}

.buyButton {
}

.buyButtonContainer {
}

.clearLink {
}

.column {
}

.container {
}

.containerNormal {
}

.containerSmall {
}

.containerInline {
}

.description {
}

.element {
}

.image {
}

.imageContainer {
}

.imagePlaceholder {
}

.information {
}

.isHidden {
}

.nameContainer {
}

.priceContainer {
}

.quantityStepperContainer {
}

.spacer {
} */